/* App.css */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #e7e7e7;
  overflow: hidden;
}

.frame {
  box-sizing: border-box;
  width: calc(100% - 2cm);
  height: calc(100vh - 2cm);
  border: 1px solid black;
  padding: 1cm;
  margin: 1cm auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #346aa400;
  color: rgb(57, 37, 37);
  padding: 20px;
  text-align: left;
  position: static;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-weight: lighter;
  font-size: 2.8rem;
  font-family: Inconsolata, monospace;
}

.header a {
  margin-right: 20px;
  color: rgb(57, 37, 37);
  text-decoration: none;
  position: absolute;
  font-family: 'Inconsolata', monospace;
  margin-left: 0cm; 
}


.header a.active {
  text-decoration:line-through;
  text-decoration-thickness: 0.8px;
  transition: width 0.3s, text-decoration 0.3s;
}


.header a:nth-child(1) {
  margin-top: 2cm;
}

.header a:nth-child(2) {
  margin-top: 3cm;
}

.header a:nth-child(3) {
  margin-top: 4cm;
}

.header a:nth-child(4) {
  margin-top: 5cm; 
}

.header a:nth-child(5) {
  margin-top: 6cm;
}

.additional-text {
  position: absolute;
  top: 3.8cm;
  left: 2.6cm;
  width: 100%;
  text-align: left;
  margin-bottom: 2cm;
}

.additional-text p {
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  text-align: left;
}

.born-text {
  position: relative;
  top: 7.6cm;
  left: 33.6cm;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  width: 110px;
  margin: 0;
}

.programming-text {
  position: absolute;
  top: 460px;
  left: 1300px;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  width: 130px;
  margin: 0;
}

.portfolio {
  position: absolute;
  width: 0.5%;
  height: 29.6%;
  max-width: 50px;
  margin-bottom: 20px;
  left: 1330px;
  top: 474.6px;
  opacity: 80%;
}

.hsk-text {
  position: relative;
  top: 50px;
  left: 28.15cm;
  font-size: small;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  width: 218px;
  margin: 0;
  top: 26px;
}

.project-gif {
  position: absolute;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
  left: 420px;
  top: 230px;
}

.project-gif2 {
  position: absolute;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
  left: 600px;
  top: 230px;
}

.project-gif3 {
  position: absolute;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
  left: 780px;
  top: 230px;
}

.project-logo {
  position:absolute;
  left: 1140px;
  top: 120px;
  width: 200px;
  height: auto;
}

.project-logo2 {
  position:absolute;
  left: 1140px;
  top: 120px;
  width: 160px;
  height: auto;
}

.project-logo3 {
  position:absolute;
  left: 1140px;
  top: 90px;
  width: 100px;
  height: auto;
}



.education {
  position: absolute;
  top: 180px;
  left: 502px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

.education2 {
  position: absolute;
  top: 310px;
  left: 537px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

.education3 {
  position: absolute;
  top: 430px;
  left: 510px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

.education4 {
  position: absolute;
  top: 554px;
  left: 494px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

.education-timeline {
  position: relative;
  margin-top: 20px;
  bottom: 50px;
}

.year-line {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: #1c1c1c;
  left: 456px;
}

.year-line2 {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: #1c1c1c;
  left: 456px;
  top:120px;
}

.year-line3 {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: #1c1c1c;
  left: 456px;
  top:240px;
}

.year-line4 {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: #1c1c1c;
  left: 456px;
  top:364px;
}

.year-marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #1c1c1c;
  width: 1px;
  height: 14px;
  margin-left: -20%;
  background-color: #1c1c1c;
}

.year-marker2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #1c1c1c;
  width: 1px;
  height: 14px;
  margin-left: -20%;
  background-color: #1c1c1c;
  top: 120px;
}

.year-marker3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #1c1c1c;
  width: 1px;
  height: 14px;
  margin-left: -20%;
  background-color: #1c1c1c;
  top: 240px;
}

.year-marker4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #1c1c1c;
  width: 1px;
  height: 14px;
  margin-left: -20%;
  background-color: #1c1c1c;
  top: 364px;
}

.year-text {
  position: absolute;
  top: 70%;
  text-align: center;
  font-size: small;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  color: #2d2d2d;
  width: 40px;
  margin-left: -292px; 
  margin-top: -6px;
}

.year-text2 {
  position: absolute;
  top: 70%;
  text-align: center;
  font-size: small;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  color: #2d2d2d;
  width: 40px;
  margin-left: -292px;
  margin-top: -6px;
  top: 120px;
}

.year-text3 {
  position: absolute;
  top: 70%;
  text-align: center;
  font-size: small;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  color: #2d2d2d;
  width: 40px;
  margin-left: -292px;
  margin-top: -6px;
  top: 240px;
}

.year-text4 {
  position: absolute;
  top: 70%;
  text-align: center;
  font-size: small;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  color: #2d2d2d;
  width: 40px;
  margin-left: -292px;
  margin-top: -6px;
  top: 364px;
}

.additional-text p::after {
  content: '|';
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.bottom-navigation {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 180px;
  left: 424px;
  width: 40%;
  background-color: #346aa400;
  padding: 10px;
}

.bottom-navigation a {
  color: rgb(57, 37, 37);
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

.bottom-navigation a.active {
  text-decoration: line-through;
  text-decoration-thickness: 0.8px;
  transition: width 0.3s, text-decoration 0.3s;
}

.bottom-navigation2 {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 554px;
  left: 420px;
  width: 34.5%;
  background-color: #346aa400;
  padding: 10px;
}

.bottom-navigation2 a {
  color: rgb(57, 37, 37);
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

.bottom-navigation2 a.active {
  text-decoration: line-through;
  text-decoration-thickness: 0.8px;
  transition: width 0.3s, text-decoration 0.3s;
}


.collage {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 20px;
  max-width: 20%;
  left: 570px;
  bottom: 210px;
  opacity: 100%;
}

.collage img {
  max-width: 100%;
  height: auto;
}

.big-square {
  grid-column: span 3;
  text-align: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.fintex-image1 {
  position: absolute;
  width: 20%;
  margin-bottom: 20px;
  left: 360px;
  top: 230px;
}

.fintex-image2 {
  position: absolute;
  width: 20%;
  margin-bottom: 20px;
  left: 700px;
  top: 230px;
}

.fintex-image3 {
  position: absolute;
  width: 20%;
  margin-bottom: 20px;
  left: 360px;
  top: 400px;
}

.shoegazer-pic{
  position: absolute;
  width: 26%;
  margin-bottom: 20px;
  left: 500px;
  top: 240px;
}

.tools-heading{
  position: absolute;
  top:570px;
  left:440px;
  font-family: 'Inconsolata', monospace;
}

.tools-heading2{
  position: absolute;
  top:420px;
  left:720px;
  font-family: 'Inconsolata', monospace;
}

.tool-image1 {
  position: absolute;
  width: 4%;
  height: auto;
  left:500px;
  top:590px;
}

.tool-image2 {
  position: absolute;
  width: 4.6%;
  height: auto;
  left:580px;
  top:590px;
}

.tool-image3{
  position: absolute;
  width: 4%;
  height: auto;
  left:750px;
  top:460px;
}

.tool-image4 {
  position: absolute;
  width: 4.4%;
  height: auto;
  left:830px;
  top:460px;
}

.tool-image5 {
  position: absolute;
  width: 3.2%;
  height: auto;
  left:910px;
  top:454px;
}

.tool-image6 {
  position: absolute;
  width: 4%;
  height: auto;
  left:500px;
  top:590px;
}

.tool-image7 {
  position: absolute;
  width: 4.4%;
  height: auto;
  left:580px;
  top:586px;
}

.linkedin-logo{
  position: absolute;
  width:10%;
  height: auto;
  left:500px;
  top:300px;
}

.github-logo{
  position: absolute;
  width:10.2%;
  height: auto;
  left:800px;
  top:292px;
}

.contact-text {
  position: relative;
  top: 400px;
  left: 1060px;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  width: 200px;
  margin: 0;
}

.header h1 {
  cursor: pointer;
}

.saintmike-text {
  position: relative;
  top: 50px;
  left: 840px;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  width: 400px;
  margin: 0;
  margin-bottom: 10px;
}

.saintmike-logo {
  position: absolute;
  width:17%;
  height: auto;
  left: 880px;
  top:30px;
}

.saintmike-channel {
  position: absolute;
  width:22.4%;
  height: auto;
  left: 450px;
  top:240px;
}

.comment-container {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.comment-container img {
  width: 26%;
  height: auto;
  position: absolute;
  top:480px;
  left:440px;
}

.comment-container img:not(:first-child) {
  opacity: 0;
}

.feedback {
  position: absolute;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Inconsolata', monospace;
  top:440px;
  left:440px;
}