/* CircularProgressBar.css */

.progress-bar-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
      conic-gradient(rgb(82, 78, 80) 80%, rgb(181, 181, 181) 0);    
    left: 450px;
    top: 240px;
  }

.progress-bar-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 90%, rgb(181, 181, 181) 0);    
left: 600px;
top: 240px;
}

.progress-bar-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 85%, rgb(181, 181, 181) 0);    
left: 750px;
top: 240px;
}  

.progress-bar-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 70%, rgb(181, 181, 181) 0);    
left: 900px;
top: 240px;
}  

.progress-bar-5 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 65%, rgb(181, 181, 181) 0);    
left: 450px;
top: 400px;
}

.progress-bar-6 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 60%, rgb(181, 181, 181) 0);    
left: 600px;
top: 400px;
}  

.progress-bar-7 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 82%, rgb(181, 181, 181) 0);    
left: 750px;
top: 400px;
}  

.progress-bar-8 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 86%, rgb(181, 181, 181) 0);    
left: 900px;
top: 400px;
}

.progress-bar-9 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(247, 21, 21) 40%, rgb(181, 181, 181) 0);    
left: 985px;
top: 300px;
}

.progress-bar-10 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(47, 54, 39) 44%, rgb(181, 181, 181) 0);    
left: 835px;
top: 300px;
} 

.progress-bar-11 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(255, 214, 79) 92%, rgb(181, 181, 181) 0);    
left: 685px;
top: 300px;
}

.progress-bar-12 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(39, 56, 171) 100%, rgb(181, 181, 181) 0);    
left: 535px;
top: 300px;
}  

.progress-bar-13 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(186, 35, 35) 100%, rgb(181, 181, 181) 0);    
left: 385px;
top: 300px;
} 

.progress-bar-14 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 92%, rgb(181, 181, 181) 0);    
    left: 450px;
}

.progress-bar-15 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 86%, rgb(181, 181, 181) 0);    
    left: 600px;
}

.progress-bar-16 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 85%, rgb(181, 181, 181) 0);    
    left: 750px;
}

.progress-bar-17 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 84%, rgb(181, 181, 181) 0);    
    left: 900px;
}

.progress-bar-18 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 82%, rgb(181, 181, 181) 0);    
    left: 450px;
    top: 400px;
}

.progress-bar-19 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 78%, rgb(181, 181, 181) 0);    
    left: 600px;
    top: 400px;
}

.progress-bar-20 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 75%, rgb(181, 181, 181) 0);    
    left: 750px;
    top: 400px;
} 

.progress-bar-21 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, rgb(231, 231, 231) 79%, transparent 80% 100%),
    conic-gradient(rgb(82, 78, 80) 70%, rgb(181, 181, 181) 0);    
    left: 900px;
    top: 400px;
} 
  
  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
  }

  .center-image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64%;
    max-height: 64%;
  }